<div class="mat-elevation-z8">
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Ex. John Doe"
        [(ngModel)]="userFilter.name"
        [ngModelOptions]="{ standalone: true }"
        #input
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Ex. johndoe"
        [(ngModel)]="userFilter.userName"
        [ngModelOptions]="{ standalone: true }"
        #input
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Ex. someone@email.com"
        [(ngModel)]="userFilter.email"
        [ngModelOptions]="{ standalone: true }"
        #input
      />
    </mat-form-field>

    <div class="filter">
      <button
        mat-button
        color="primary"
        (click)="applyFilters()"
        class="btn btn-success"
      >
        Apply filters
      </button>

      <button
        mat-button
        color="primary"
        (click)="clearFilters()"
        class="btn btn-success"
      >
        Clear filters
      </button>
    </div>
  </div>

  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let row">{{ row.userName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
      <td mat-cell *matCellDef="let row">{{ row.role }}</td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Birthday</th>
      <td mat-cell *matCellDef="let row">{{ row.birthday | date }}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <mat-icon (click)="deleteUser(row.id)">delete</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <mat-icon (click)="editUser(row.id)">edit</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="register">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon (click)="registerUser()">group_add</mat-icon>
      </th>
      <td mat-cell *matCellDef="let row"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data found</td>
    </tr>
  </table>

  <mat-paginator
    [length]="length"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
