<div class="mat-elevation-z8">
    <div>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input
          matInput
          placeholder="Ex. Romania"
          [(ngModel)]="addressFilter.country"
          [ngModelOptions]="{ standalone: true }"
          #input
        />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Postal code</mat-label>
        <input
          matInput
          placeholder="Ex. 220034"
          [(ngModel)]="addressFilter.postCode"
          [ngModelOptions]="{ standalone: true }"
          #input
        />
      </mat-form-field>
  
  
      <div class="filter">
        <button
          mat-button
          color="primary"
          (click)="applyFilters()"
          class="btn btn-success"
        >
          Apply filters
        </button>
  
        <button
          mat-button
          color="primary"
          (click)="clearFilters()"
          class="btn btn-success"
        >
          Clear filters
        </button>
      </div>
    </div>
  
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
        <td mat-cell *matCellDef="let row">{{ row.countryName }}</td>
      </ng-container>
  
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
        <td mat-cell *matCellDef="let row">{{ row.city }}</td>
      </ng-container>
  
      <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Street</th>
        <td mat-cell *matCellDef="let row">{{ row.street }}</td>
      </ng-container>
  
      <ng-container matColumnDef="streetNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Street number</th>
        <td mat-cell *matCellDef="let row">{{ row.streetNumber }}</td>
      </ng-container>
  
      <ng-container matColumnDef="postalCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code</th>
        <td mat-cell *matCellDef="let row">{{ row.postalCode }}</td>
      </ng-container>
  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
          <mat-icon (click)="deleteUser(row.id)">delete</mat-icon>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
          <mat-icon (click)="editAddress(row.id)">edit</mat-icon>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="register">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon (click)="registerAddress()">group_add</mat-icon>
        </th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data found</td>
      </tr>
    </table>
  
    <mat-paginator
      [length]="length"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of addresses"
    ></mat-paginator>
  </div>
  