table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    padding-left: 15px;
  }
  
  td, th {
    width: 10%;
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-icon{
      &:hover{
          cursor: pointer;
      }
  }
  .spacer {
    flex: 1 1 auto;
  }
  .filter{
    float: right;
  }

  ng-container{
    padding-right: 20px;
  }